{% extends 'base.html.twig' %}

{% block title %}Liste Catégories{% endblock %}

{% block body %}
    {% if is_granted('ROLE_EDITOR') %}
   <div>
       <a href="{{ path('categorie_new') }}"><span class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Nouveau</span></a>
   </div><br/>
   {% endif %}
    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
        <thead>
            <tr>
                <th>#</th>
                <th>Description</th>
                <th>Designation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for i,categorie in categories %}
            <tr>
                <td>{{ i+1 }}</td>
                <td>{{ categorie.description }}</td>
                <td>{{ categorie.designation }}</td>
                <td>

                    <a href="{{ path('categorie_show', {'id': categorie.id}) }}"><span class="btn btn-default"><i class="fa fa-eye"></i></span></a>
                    {% if is_granted('ROLE_EDITOR') %}
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}"><span class="btn btn-success"><i class="fa fa-pencil"></i></span></a>
                    <a href="{{ path('categorie_delete_2', {'id': categorie.id}) }}"><span class="btn btn-danger"><i class="fa fa-trash-o"></i></span></a>
{% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Pas d'enregistrements Trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
